# Directories
.vs/
Bin/
Bin-Int/
__pycache__/

# Files
*.sln
*.user
*.vcxproj
*.vcxproj.filters
Tridium/Tridium.vcxproj.filters
*.vcxitems
*.vcxitems
*.filters
Tridium/TridiumCore.vcxitems.filters
Tridium/TridiumCore.vcxitems
