[submodule "Tridium/Dependencies/spdlog"]
	path = Tridium/Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tridium/Dependencies/glfw"]
	path = Tridium/Dependencies/glfw
	url = https://github.com/AsherFarag/glfw
[submodule "Tridium/Dependencies/ImGui"]
	path = Tridium/Dependencies/ImGui
	url = https://github.com/AsherFarag/imgui
[submodule "Tridium/Dependencies/glm"]
	path = Tridium/Dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "Tridium/Dependencies/sol2"]
	path = Tridium/Dependencies/sol2
	url = https://github.com/AsherFarag/sol2
[submodule "Tridium/Dependencies/ImGuizmo"]
	path = Tridium/Dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Tridium/Dependencies/yaml-cpp"]
	path = Tridium/Dependencies/yaml-cpp
	url = https://github.com/AsherFarag/yaml-cpp.git

[submodule "Tridium/Dependencies/assimp"]
	path = Tridium/Dependencies/assimp
	url = https://github.com/AsherFarag/assimp.git
